.lds-dual-ring {
  display: inline-block;
  width: 192px;
  height: 192px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 138px;
  height: 138px;
  margin: 1px;
  border-radius: 50%;
  border: 0.75rem solid teal;
  border-color: teal transparent teal transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes lds-dual-ring {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
